<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TB Order Search</title>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../static/bulma-0.7.1.css">
    <link rel="stylesheet" type="text/css" href="../static/font-awesome-5.1.1-all.css">
    <link rel="stylesheet" type="text/css" href="../static/config.css">
    <link rel="stylesheet" type="text/css" href="../static/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/main-orders.css">
    <link rel="stylesheet" type="text/css" href="../static/main-search.css">
    <link rel="stylesheet" type="text/css" href="../static/top-bottom.css">
</head>

<body>
    <div class="super-main-container">
        <section class="config-container"></section>
        <section class="top-bottom-container"></section>
        <section class="main-search-container"></section>
        <section class="main-orders-container"></section>
        <section class="pagination-container"></section>
    </div>

    <script src="../static/jquery-3.3.1.js"></script>
    <script src="../static/toolbox.js"></script>
    <script src="../static/config.js"></script>
    <script src="../static/pagination.js"></script>
    <script src="../static/main-orders.js"></script>
    <script src="../static/main-search.js"></script>
    <script src="../static/top-bottom.js"></script>
</body>
</html>