/* login part */
.login-container {
    background-color: hsl(217, 71%, 53%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    width: 36vw;
    margin: 10rem auto;
    padding: 3rem;
    padding-bottom: 2.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
}

.login-logo {
    display: flex;
}

.login-logo-img>img {
    width: 96px;
    height: 96px;
    display: block;
    border-radius: 0.5rem;
}

.login-logo-name>span {
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: 600;
    display: block;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.field {
    margin-top: 1.5rem;
}

.field>.label {
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: 600;
}

.field.login>.control {
    display: flex;
    /*justify-content: flex-end;*/
}

.field-login-rememberMe {
    flex: 1;
    align-items: flex-start;
    padding-top: 0.7rem;
}

.field-login-rememberMe>input {
    transform: scale(1.2);
    width: 1.4rem;
}

.field-login-button {
    /*flex: 1;*/
    align-items: flex-end;
}

.field-login-button>button {
    /*margin-top: 1rem;*/
    width: 7rem;
    font-size: 1.2rem;
    font-weight: 700;
}


/* logout part */
.logout-container {
    position: fixed;
    top: 2rem;
    left: 5.5rem;
    cursor: pointer;
}

.logout-container>span {
    display: inline-block;
    transform: scale(1.3);
}

.login-failed {
    padding-top: 0.8rem;
}

.login-failed {
    font-size: 1.1rem;
    font-weight: 600;
    color: orangered;
}
