.is-on {
    display: block;
}

.is-on-inline {
    display: inline;
}

.is-on-flex {
    display: flex;
}

.is-off {
    display: none;
}

.is-selected {
    background-color: lightslategray;
}

.shrink {
    padding: 0;
}
